.outer {
  width: 527px;
  height: 716px;
  padding: 6px;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #ededed;
  box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04);
}

.inner {
  width: 100%;
  height: 100%;
  padding: 48px;
  border-radius: 34px;
  position: relative;
  background-image: linear-gradient(
    180deg,
    rgba(35, 35, 35, 0.03) 0%,
    rgba(35, 35, 35, 0) 50%
  );
}

.inner::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 1) 20%,
    rgba(237, 237, 237, 0) 100%
  );
  pointer-events: none;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.title {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #232323;
}

.subtitle {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #e0e0e0;
}

.login {
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
    360deg,
    rgba(35, 35, 35, 0) 50%,
    rgba(35, 35, 35, 0.06) 100%
  );
  box-shadow:
    0 0 0 2px #fff,
    0 12px 8px rgba(0, 0, 0, 0.03);
}
.login::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 0.7) 0%,
    rgba(237, 237, 237, 0) 70%
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
