.outer {
  width: 527px;
  height: 716px;
  padding: 6px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04);
}

.inner {
  width: 100%;
  height: 100%;
  padding: 48px;
  border-radius: 34px;
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 0.03) 0%,
    rgba(35, 35, 35, 0) 50%
  );
}

.title {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #232323;
  text-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.12);
}

.subtitle {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #e0e0e0;
  text-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.17);
}
