.input {
  border: 1px solid #cfcfcf;
  background-color: #f3f3f3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.table {
  position: relative;
}

.table::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 3px;
  background: #364fc7;
}
